body {
    background-image: url(img/victoria.jpg);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-size: cover; /*para que se ajuste a la pantalla*/
}


.btn-jugar {
    position: absolute;
    font-size: 20px;
    font-family: cursive;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    /*quitar el subrayado*/
    border-radius: 5px;
    top: 60%;
    left: 48%;
}

.personaje {
    width: 100px;
    height: 100px;
    position: absolute;
    /*para que este en a un lado del texto*/
    left: 15%;
    top: 30%;
    transform: translate(0%, 0%);
    /*para que este en a un lado del texto*/
}